#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(11, 1fr);
  border: 2px solid black;
  gap: 6px;
}

.box {
  padding: 6px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.shape-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.shape {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  background-color: #4e4e4e;
  cursor: crosshair;
}

.shape div {
  padding: 6px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
